.badge-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.badge {
  width: fit-content;
  height: fit-content;
  min-width: 1em;
  min-height: 1em;
  border-radius: 1em;
  background-color: red;
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.6em;
  font-weight: 600;
  text-align: center;
}

.p-2 {
  padding: 0.3em 0.5em;
}
